*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --primarycolor: #6d28d9;
    --secondarycolor: #ede9fe;
    --thirdcolor: #e1ddfe;
    --bodycolor: #f6f6f6;
    --mainwhite: #fff;
    --mainblack: #222;
    --maingrey: #7c7c7c;
    --mainred: #db2777;
    --mainspacing: 0.1rem;
    --maintransition: all 0.3s linear;
}

body{
    background-color: var(--bodycolor);
    color: var(--mainblack);
    font-family: sans-serif;
    position: relative;
    font-size: 1.1rem;
}

.navbar{
    background-color: var(--secondarycolor);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon{
    color: var(--primarycolor);
    cursor: pointer;
}
.cart-btn{
    color: var(--primarycolor);
    position: relative;
    cursor: pointer;
}
.cart-btn i, .menu-icon i{
    font-size: 1.7rem;
}
.nav-title{
    color: var(--mainblack);
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    width: 100%;
    padding: 0 1.7rem;
}

.cart-items{
    background-color: var(--mainred);
    color: var(--mainwhite);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    font-size: 0.765rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: -9px;
}


.backdrop{
    width: 100vw;
    height: 100vh;
    background-color: #aaaaaa56;
    position: fixed;
    top: 0;
    z-index: 1;
    display: none;
    transition: all 0.5s linear;
}
.menu{
    height: 100%;
    width: 150px;
    background-color: var(--bodycolor);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transform: translateX(-100vh);
    transition: all 0.1s linear;
}

.nav-menu{
    height: 50%;
}

.menu i{
    margin-top: 1rem;
    margin-left: 6.5rem;
    font-size: 2rem;
    color: var(--primarycolor);
    cursor: pointer;
}

.nav-menu li a{
    color: var(--mainblack);
    font-size: 1.3rem;
    text-align: center;
    padding: 1rem;
    display: block;
}


/* end of navbar */


.products-center{
    width: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    column-gap: 3rem;
    row-gap: 4rem;
}

.products{
    padding: 0 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title{
    font-size: 2.5rem;
    margin: 5rem 0 3rem 0;
}

.product{
    background-color: var(--mainwhite);
    padding-bottom: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
}

.img-container{
    height: 310px;
    width: 100%;
}
.product-img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.product-description{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1.3rem 0;
}

.product-price{
    color: var(--maingrey);
}
.add-to-cart{
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: 8px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: var(--secondarycolor);
    color: var(--primarycolor);
    cursor: pointer;
}



/* end of products */

.backdrop-m{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 5;
}

.cart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    width: 30rem;
    padding: 1rem;
    min-height: 200px;
    margin: 0 auto;
    background-color: var(--mainwhite);
    border: 1px solid #ccc;
    box-shadow: 0 20px 120px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    position: absolute;
    /* top: 150px; */
    top: -100%;
    /* left: 30%; */
}

.cart-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-title{
    text-align: center;
}
.cart-content{
    padding: 1rem;
}

.cart-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.cart-item-img{
    width: 150px;
    height: 90px;
}

.cart-item-desc h4{
    font-size: 1.2rem;
}

.cart-item-desc h5{
    margin-top: 1rem;
    color: var(--maingrey);
}


.cart-item-conteoller{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-chevron-up{
    color: var(--primarycolor);
}
.fa-chevron-down{
    color: var(--mainred);
}
.fa-trash-can{
    font-size: 1.7rem;
}
.fa-chevron-up,.fa-chevron-down,.fa-trash-can{
    cursor: pointer;
}
.cart-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: var(--primarycolor);
    font-size: 1.2rem;
    border-radius: 10px;
}


.clear-cart{
    padding: 0.3rem 0.4rem;
    border: 1px solid var(--primarycolor);
    margin: 0 1rem;
}

.cart-item-confirm{
    padding: 0.4rem 0.8rem;
    background-color: var(--thirdcolor);
}


@media screen and (max-width: 400px){
    .cart{
        width: 20rem;
    }
    .cart-item-img{
        width: 100px;
        height: 90px;
    }
    .cart-item{
        justify-content: center;
        column-gap: 1.7rem;
    }
}